In [1]:
#importing relevant packages
import modin.config as cfg
cfg.Engine.put("dask")  # Switch to Dask backend
import modin.pandas as pd
from sqlalchemy import create_engine, text
import mysql.connector
import csv

In [2]:
#read csv file into dataframe
df = pd.read_csv('sales_5000000.csv')

In [3]:
#check what data looks like in dataframe
print(df.head())

                         Region  Country        Item Type Sales Channel  \
0         Australia and Oceania    Palau  Office Supplies        Online
1                        Europe   Poland        Beverages        Online
2                 North America   Canada           Cereal        Online
3                        Europe  Belarus           Snacks        Online
4  Middle East and North Africa     Oman           Cereal       Offline

  Order Priority  Order Date   Order ID   Ship Date  Units Sold  Unit Price  \
0              H  2020-03-06  517073523  2020-03-26        2401      651.21
1              L  2014-04-18  380507028  2014-05-26        9340       47.45
2              M  2019-01-08  504055583  2019-01-31         103      205.70
3              C  2018-01-19  954955518  2018-02-27        1414      152.58
4              H  2023-04-26  970755660  2023-06-02        7027      205.70

   Unit Cost  Total Revenue  Total Cost  Total Profit
0     524.96     1563555.21  1260428.96     303126.25
1      31.79      443183.00   296918.60     146264.40
2     117.11       21187.10    12062.33       9124.77
3      97.44      215748.12   137780.16      77967.96
4     117.11     1445453.90   822931.97     622521.93

In [4]:
#making region table
region_df = df[['Region']].drop_duplicates().reset_index(drop=True)
region_df['RegionID'] = region_df.index + 1  # Create surrogate key

In [5]:
# Merge RegionID into original dataframe
df_region_map = df[['Region', 'Country']].drop_duplicates()
df_region_map = df_region_map.merge(region_df, on='Region')

country_df = df_region_map[['Country', 'RegionID']].drop_duplicates().reset_index(drop=True)
country_df['CountryID'] = country_df.index + 1

In [6]:
#making ItemType table
itemtype_df = df[['Item Type']].drop_duplicates().reset_index(drop=True)
itemtype_df['ItemTypeID'] = itemtype_df.index + 1

In [7]:
#making sales channel table
channel_df = df[['Sales Channel']].drop_duplicates().reset_index(drop=True)
channel_df['SalesChannelID'] = channel_df.index + 1

In [8]:
# Merge Region and Country
df_orders = df.merge(region_df, on='Region') \
              .merge(country_df, on=['Country', 'RegionID']) \
              .merge(itemtype_df, on='Item Type') \
              .merge(channel_df, on='Sales Channel')

In [9]:
#renaming columns
orders_df = df_orders[[
    'Order ID', 'Order Date', 'Ship Date', 'CountryID', 'SalesChannelID',
    'Order Priority', 'ItemTypeID', 'Units Sold', 'Unit Price', 'Unit Cost',
    'Total Revenue', 'Total Cost', 'Total Profit'
]]

orders_df.columns = [
    'OrderID', 'OrderDate', 'ShipDate', 'CountryID', 'SalesChannelID',
    'Priority', 'ItemTypeID', 'UnitsSold', 'UnitPrice', 'UnitCost',
    'TotalRevenue', 'TotalCost', 'TotalProfit'
]

In [11]:
# Find and sort duplicates based on OrderID and ItemTypeID
duplicates = orders_df[orders_df.duplicated(subset=['OrderID', 'ItemTypeID'], keep=False)]
duplicates_sorted = duplicates.sort_values(by=['OrderID', 'ItemTypeID'])

# Display them
print("Number of duplicates:", len(duplicates_sorted))
duplicates_sorted

Number of duplicates: 4946272

,OrderID,OrderDate,ShipDate,CountryID,SalesChannelID,Priority,ItemTypeID,UnitsSold,UnitPrice,UnitCost,TotalRevenue,TotalCost,TotalProfit
1013029,100000321,2014-03-20,2014-04-24,12,2,M,9,1172,9.33,6.92,10934.76,8110.24,2824.52
2666309,100000321,2014-03-20,2014-04-24,12,2,M,9,1172,9.33,6.92,10934.76,8110.24,2824.52
4313637,100000321,2014-03-20,2014-04-24,12,2,M,9,1172,9.33,6.92,10934.76,8110.24,2824.52
1781782,100000751,2017-04-15,2017-05-16,79,2,H,10,1299,668.27,502.54,868082.73,652799.46,215283.27
3224790,100000751,2017-04-15,2017-05-16,79,2,H,10,1299,668.27,502.54,868082.73,652799.46,215283.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...
367107,999999463,2018-10-06,2018-11-19,73,2,L,8,918,421.89,364.69,387295.02,334785.42,52509.60
3863843,999999463,2018-10-06,2018-11-19,73,2,L,8,918,421.89,364.69,387295.02,334785.42,52509.60
871476,999999892,2021-11-02,2021-12-12,29,2,M,2,1045,47.45,31.79,49585.25,33220.55,16364.70
2481332,999999892,2021-11-02,2021-12-12,29,2,M,2,1045,47.45,31.79,49585.25,33220.55,16364.70
4128660,999999892,2021-11-02,2021-12-12,29,2,M,2,1045,47.45,31.79,49585.25,33220.55,16364.70

In [12]:
# Remove duplicates based on the combination of OrderID and ItemTypeID
orders_df = orders_df.drop_duplicates(subset=['OrderID', 'ItemTypeID'], keep='first')

# Optional: check how many rows are left
print("Rows remaining after removing duplicates:", len(orders_df))

Rows remaining after removing duplicates: 2097152

In [13]:
# Rename for Region
region_df = region_df.rename(columns={'Region': 'RegionName'})

# Prepare Country
country_df = country_df.rename(columns={'Country': 'CountryName'})

# Prepare ItemType
itemtype_df = itemtype_df.rename(columns={'Item Type': 'ItemTypeName'})
itemtype_df['ItemTypeID'] = itemtype_df.index + 1

# Prepare SalesChannel
channel_df = channel_df.rename(columns={'Sales Channel': 'ChannelName'})
channel_df['SalesChannelID'] = channel_df.index + 1

# Prepare Orders
orders_df = orders_df.rename(columns={
    'Order ID': 'OrderID',
    'Order Date': 'OrderDate',
    'Ship Date': 'ShipDate',
    'Country': 'CountryName',
    'Sales Channel': 'ChannelName',
    'Order Priority': 'Priority',
    'Item Type': 'ItemTypeName',
    'Units Sold': 'UnitsSold',
    'Unit Price': 'UnitPrice',
    'Unit Cost': 'UnitCost',
    'Total Revenue': 'TotalRevenue',
    'Total Cost': 'TotalCost',
    'Total Profit': 'TotalProfit',
})

In [14]:
print(region_df.head())
print(country_df.head())
print(itemtype_df.head())
print(channel_df.head())
print(orders_df.head())

                     RegionName  RegionID
0         Australia and Oceania         1
1                        Europe         2
2                 North America         3
3  Middle East and North Africa         4
4            Sub-Saharan Africa         5
  CountryName  RegionID  CountryID
0       Palau         1          1
1      Poland         2          2
2      Canada         3          3
3     Belarus         2          4
4        Oman         4          5
      ItemTypeName  ItemTypeID
0  Office Supplies           1
1        Beverages           2
2           Cereal           3
3           Snacks           4
4    Personal Care           5
  ChannelName  SalesChannelID
0      Online               1
1     Offline               2
     OrderID   OrderDate    ShipDate  CountryID  SalesChannelID Priority  \
0  517073523  2020-03-06  2020-03-26          1               1        H
1  380507028  2014-04-18  2014-05-26          2               1        L
2  504055583  2019-01-08  2019-01-31          3               1        M
3  954955518  2018-01-19  2018-02-27          4               1        C
4  970755660  2023-04-26  2023-06-02          5               2        H

   ItemTypeID  UnitsSold  UnitPrice  UnitCost  TotalRevenue   TotalCost  \
0           1       2401     651.21    524.96    1563555.21  1260428.96
1           2       9340      47.45     31.79     443183.00   296918.60
2           3        103     205.70    117.11      21187.10    12062.33
3           4       1414     152.58     97.44     215748.12   137780.16
4           3       7027     205.70    117.11    1445453.90   822931.97

   TotalProfit
0    303126.25
1    146264.40
2      9124.77
3     77967.96
4    622521.93

In [15]:
# Connect to MySQL
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="password1", 
    database="samplesales"        # Make sure this DB exists
)

cursor = conn.cursor()

In [16]:
# Create Region table
cursor.execute("""
CREATE TABLE Region (
    RegionID INT PRIMARY KEY AUTO_INCREMENT,
    RegionName VARCHAR(100) NOT NULL UNIQUE
)
""")

# Create Country table
cursor.execute("""
CREATE TABLE Country (
    CountryID INT PRIMARY KEY AUTO_INCREMENT,
    CountryName VARCHAR(100) NOT NULL,
    RegionID INT NOT NULL,
    FOREIGN KEY (RegionID) REFERENCES Region(RegionID)
)
""")

# Create ItemType table
cursor.execute("""
CREATE TABLE ItemType (
    ItemTypeID INT PRIMARY KEY AUTO_INCREMENT,
    ItemTypeName VARCHAR(100) NOT NULL UNIQUE
)
""")

# Create SalesChannel table
cursor.execute("""
CREATE TABLE SalesChannel (
    SalesChannelID INT PRIMARY KEY AUTO_INCREMENT,
    ChannelName VARCHAR(100) NOT NULL UNIQUE
)
""")

# Create Orders table
cursor.execute("""
CREATE TABLE Orders (
    OrderID INT NOT NULL,
    OrderDate DATE NOT NULL,
    ShipDate DATE NOT NULL,
    CountryID INT NOT NULL,
    SalesChannelID INT NOT NULL,
    Priority VARCHAR(10) NOT NULL,
    ItemTypeID INT NOT NULL,
    UnitsSold INT NOT NULL,
    UnitPrice DECIMAL(10,2) NOT NULL,
    UnitCost DECIMAL(10,2) NOT NULL,
    TotalRevenue DECIMAL(12,2) NOT NULL,
    TotalCost DECIMAL(12,2) NOT NULL,
    TotalProfit DECIMAL(12,2) NOT NULL,
    FOREIGN KEY (CountryID) REFERENCES Country(CountryID),
    FOREIGN KEY (SalesChannelID) REFERENCES SalesChannel(SalesChannelID),
    FOREIGN KEY (ItemTypeID) REFERENCES ItemType(ItemTypeID),
    PRIMARY KEY (OrderID, ItemTypeID)
)
""")

conn.commit()
print("All tables created successfully!")

cursor.close()
conn.close()

All tables created successfully!

In [17]:
engine = create_engine('mysql+pymysql://root:password1@localhost/Samplesales')

#sort primary and foreign keys
orders_df = orders_df.sort_values(['CountryID', 'SalesChannelID', 'ItemTypeID'])

# Upload dataframes to their respective tables in batches
region_df.to_sql('region', con=engine, if_exists='append', index=False, chunksize=10000)
country_df.to_sql('country', con=engine, if_exists='append', index=False, chunksize=10000)
itemtype_df.to_sql('itemtype', con=engine, if_exists='append', index=False, chunksize=10000)
channel_df.to_sql('saleschannel', con=engine, if_exists='append', index=False, chunksize=10000)
orders_df.to_sql('orders', con=engine, if_exists='append', index=False, chunksize=10000)

In [15]:
#delete all sql tables
engine = create_engine('mysql+pymysql://root:password1@localhost/Samplesales')
tables = ['orders', 'country', 'itemtype', 'saleschannel', 'region']

with engine.connect() as conn:
    # Disable foreign key checks so drop order won't fail
    conn.execute(text("SET FOREIGN_KEY_CHECKS = 0;"))
    
    for table in tables:
        conn.execute(text(f"DROP TABLE IF EXISTS {table};"))
    
    # Enable foreign key checks back on
    conn.execute(text("SET FOREIGN_KEY_CHECKS = 1;"))